# most of comments were stripped, look at sample modlogan.config for info
<assign hosting=modlogan.parent.parent>
# $Id: modlogan_0.8.8.config,v 1.1.2.1 2003/12/04 15:34:52 nikitin Exp $

[global]
includepath     = /hsphere/shared/etc/modlogan
compress_mode   = 9
loadplugin      = input_clf
loadplugin      = processor_web
loadplugin      = output_template
loadplugin      = output_template, output_template_basic
loadplugin      = output_modlogan
statedir        = ${hosting.path}${modlogan.mod_dir}
#/hsphere/local/home/unixuser/unixuser.redhat72vmt.psoft/modlogan
incremental     = 1
debug_level     = 0
read_ahead_limit = 1
var(outputdir, ${hosting.path}${modlogan.mod_dir})
#var(outputdir, /hsphere/local/home/unixuser/unixuser.redhat72vmt.psoft/modlogan)

[processor_web]
groupua = "^Mozilla (\d+)\.(\d)\d*",Mozilla $1.$2x
groupua = "^Mozilla m",Mozilla milestone x
groupua = "^MSIE 5\.5",Internet Explorer 5.5
groupua = "^MSIE (\d+)\.",Internet Explorer $1.x
groupua = "^Netscape 4\.7",Netscape 4.7x
groupua = "^Netscape (\d+)\.",Netscape $1.x
groupua = "^Galeon",Galeon
groupua = "^Opera (\d+)\.",Opera $1.x
groupua = "^compatible Mozilla/(\d+)\.",compatible Mozilla/$1.x
groupua = "^(MSIE|Netscape|Opera|FAST-WebCrawler|Googlebot|Konqueror|NetMind-Minder|WWWOFFLE|libwww-perl|DA)\D(\d+)\.?",$1 $2.x
groupua = "^Lynx\D(\d+)\.(\d+)",Lynx $1.$2.x
groupua = "^[sS]cooter\D(\d+)\.(\d+)",Scooter $1.$2.x
groupua = "^(GetRight|Netpositive)\D(\d+)\.",$1 $2.x
groupua = "^WebCopier v(\d+)\.",WebCopier v$1.x
groupua = ".*Mercator.*-(.?)\.",Mercator $1.x
groupua = "^(ELinks|Dillo|lftp)\D(\d+)\.(\d)\d*",$1 $2.$3x
groupua = "^WebDownloader for X (\d+)\.",WebDownloader for X $1.x
groupua = "^(Slurp|Wget|Links|w3m|curl|lwp|larbin)",$1
groupua = "^SpaceBison/(.?)",SpaceBison $1
groupua = "(davesengine\.com|ip3000\.com)$",$1
groupua = "sitecheck\.internetseer\.com",sitecheck.internetseer.com
groupua = "^asterias/(.?)\.",Asterias $1.x
groupua = "Openbot/(.?)\.",Openfind data gatherer $1.x
groupua = "^gigabaz/(.?).",Gigabaz $1.x
groupua = "^Dllbot/(.?).",Findsame robot $1.x
groupua = "^Go!Zilla (.*)\.",Go!Zilla $1.x
groupua = "^Scooter.*(\d+)",Scooter $1.x
groupua = "^polybot (.?)\.",Polybot $1.x
groupua = "^Gulliver/(.?)\.",Gulliver $1.x
groupos = "^Win.*?(XP|2000|ME|NT|9.?)",Windows $1
groupos = "^Linux 2\.(\d+)\.?",Linux 2.$1.x
groupos = "^Linux i(\d+)",Linux i$1 [unknown version]
groupos = "^Linux",Linux [unknown version]
groupos = "^FreeBSD .*-CURRENT$",FreeBSD -CURRENT
groupos = "^FreeBSD (.?)\.",FreeBSD $1.x
groupos = "^NetBSD 1\.(.?)\.",NetBSD 1.$1.x
groupos = "^(Free|Net|Open)BSD",$1BSD [unknown version]
groupos = "^HP-UX B\.(10|11)\.",HP-UX B.$1.x
groupos = "^IRIX(64)? 6\.",IRIX 6.x
groupos = "^SunOS 4\.1",SunOS 4.1.x
groupos = "^SunOS 5\.([4-6])",Solaris 2.$1.x
groupos = "^SunOS 5\.([789])",Solaris $1.x
groupos = "^(?:PPC|Mac.+PC)$",Macintosh PPC
grouphosts = "\.([^.]*)\.(com|net|org|ac|edu|co|sch)\.([a-zA-Z]*)$",$1.$2.$3
grouphosts = "^[^.]*\.([^.]*\.[a-zA-Z]*)$",$1
grouphosts = "^[^1-9].*?\.([^.]*\.[a-zA-Z]*)$",$1
groupextension="\.(?i:html\.([a-z]{2}))(?:\?|$)",localized HTML: $1 (text/html)
groupextension="\.(?i:html?)(\?|$)",HTML (text/html)
groupextension="\.(?i:xml)",XML Documents
groupextension="\.(?i:txt)$",Text Files (text/plain)
groupextension="\.cgi?(\?|$)",CGI Script
groupextension="\.pl?(\?|$)",Perl Script
groupextension="\.(?i:php|phtml)([34s]?)(\?|$)",PHP$1
groupextension="\.(?i:jsp)(\?|$)",Java Server Pages
groupextension="\.(?i:js)$",Javascript
groupextension="\.(?i:css)$",Cascading Style Sheets - css
groupextension="\.(?i:gif)$",Pictures - GIF (image/gif)
groupextension="\.(?i:jpe?g)$",Pictures - JPEG (image/jpeg)
groupextension="\.(?i:png)$",Pictures - PNG (image/png)
groupextension="\.(?i:ico)$",Pictures - ICO
groupextension="\.(?i:swf)$",Flash Movies - SWF
groupextension="\.(?i:class)$",Java Applets - CLASS
groupextension="\.(?i:pdf)$",PDF Documents
groupextension="\.ps(\.gz)?$",Postscript Documents
groupextension="\.(?i:ppt)$",PowerPoint Documents
groupextension="\.(tar\.gz|tgz)$",Archive - Tar+Gzip
groupextension="\.tar\.bz2$",Archive - Tar+Bzip
groupextension="\.zip$",Archive - ZIP
groupextension="\.(?i:mpg)$",Videos - MPEG (video/mpeg)
groupextension="\.i386\.rpm$",.rpm - Redhat Package Manager
groupextension="\.gz$",compressed (gzip)
groupextension="\.bz2$",compressed (bzip2)
groupextension="\.(?i:mp3)$",Audio - MPEG Audio Layer 3 (audio/mp3)
groupextension="\.(?i:midi?)$",Audio - MIDI (audio/midi)
groupextension="\.(?i:wav)$",Audio - WAV
groupextension="\.([a-zA-Z0-9.]+)(\?|$)",$_1
groupextension="/(\?|$)",index page (no extension)
groupurl = "^(/.*/)(index|default)\.(html?|shtml|phtml|php[34]?|cgi|pl|jsp|asp)",$1
groupurl="^(.+?)\?",$1
maxhostcacheentries     = 100
matchsearchengine="\?(?:.+&|)H=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)Keywords=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)MT=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)P=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)Q=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)QUERY=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)Suchwort=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)T=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)ask=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)eingabe=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)entry=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)general=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)in=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)k=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)key=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)keys=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)keyword=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)keywords=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)kw=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)mots=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)motscles=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)p=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)pattern=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)pgm=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)q=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)qr=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)qry=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)qs=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)qt=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)qu=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)query=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)query2=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)queryterm=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)question=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)s=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)sTerm=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)sc=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)search=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)search2=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)searchText=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)srch=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)string=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)su=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)such=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)suche=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)szukaj=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)tx=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)tx0=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)tx1=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)tx2=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)what=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)word=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)words=(.+?)(?:&|$)"
matchsearchengine="\?(?:.+&|)wyr=(.+?)(?:&|$)"
debug_searchengines     = 0
visit_timeout   = 1800
debug_visits    = 0
hideurl = "\.(?i:gif|png|jpe?g|css|js|class|mid|swf)$"
hideurl = "^/(robots.txt|favicon.ico)$"
groupreferrer   = "^-$", (Direct Access / no known referrer)
groupsearchstrings      = "cache:.*? ", (Google Cache)
groupsearchstrings      = "^(.*)$", $_1
groupbrokenlinks        = "favicon\.ico$", Bookmarking Icons for MSIE 5.0, Galeon
groupbrokenlinks        = "robots\.txt$", Robot control file /robots.txt
pagetype        = "/$"
pagetype        = "\.(?i:php[34]?|html?|phtml|shtml|asp|cgi|pl|jsp)$"
hidereferrer    ="^${hosting.parent.name}"

[hide_downloads]
hideurl = "\.(?i:mp3|mpg|pdf|ps|ps\.gz|zip|tgz|deb|rpm|rar|tar\.gz|bz3)$"
debug_visits    = 0
#splitby = requrl,"^http://www.([^/]+)/",\$1
#splitby = default,"(.+?)",default

[output_modlogan]
maxrequrls      = 30
maxrefurls      = 30
maxos   = 50
maxhosts        = 30
maxentrypages   = 10
maxexitpages    = 10
maxindexedpages = 20
maxua   = 30
maxreqprot      = 10
maxreqmeth      = 10
maxstatuscodes  = 10
maxrobots       = 20
maxbookmarks    = 20
maxbrokenlinks  = 20
maxsearchengines        = 20
maxsearchstrings        = 30
maxinteralerrors        = 20
maxcountries    = 20
maxextensions   = 20
maxvisitpaths   = 20
maxvisitdurations       = 20
maxvisitpathlengths     = 20
maxviewdurations        = 20
maxvhosts       = 100
showdailygraph  = 1
showmonthlygraph        = 1
showhourlygraph = 1
showcountrygraph        = 1
showvhostgraph  = 1
showvalidationlinks     = 1
assumedprotocol = http
pagestyle       = seppage
cssfile = modlogan.css
background      = #ffffff
foreground      = #000000
border  = #000000
shadow  = #999999
pages   = #00c0ff
files   = #0080ff
visits  = #ffff00
xfer    = #ff0000
hits    = #00C030
country_circle  = #AF0000
country_circle  = #FF0000
country_circle  = #FF6400
country_circle  = #FFB900
country_circle  = #8CFF00
country_circle  = #00C800
country_circle  = #007B00
country_circle  = #0058FF
country_circle  = #009EFF
country_circle  = #0000FF
country_circle  = #000082
vhost_circle    = #CC9933
vhost_circle    = #FF0066
vhost_circle    = #FF6600
vhost_circle    = #FFBB00
vhost_circle    = #CCFF00
vhost_circle    = #00CC00
vhost_circle    = #008800
vhost_circle    = #0066FF
vhost_circle    = #00CCFF
vhost_circle    = #0000FF
vhost_circle    = #000099
hostname        = ${hosting.parent.name}
#unixuser.redhat72vmt.psoft
#$splitby
outputdir       = $outputdir

[output_template]
filename_pattern = mla-{NAME}-{DATE}.html
index_filename = index.html
assumedprotocol = http
menuentry       = start, req
menuentry       = start, user
menuentry       = start, visits
menuentry       = start, robots
menuentry       = start, server
menuentry       = start,web_generic_summary
menuentry       = start,web_generic_hourly
menuentry       = start,web_generic_daily
menutitle       = start, Hier gehts los
menutitle       = req, Request
menutitle       = user, Users
menutitle       = robots, Robots
menutitle       = server, Server
menutitle       = visits, Visits
menuentry       = req,web_request_url
menuentry       = req,web_request_protocol
menuentry       = req,web_request_method
menuentry       = req,web_request_status
menuentry       = req,web_request_extensions
menuentry       = user,web_user_referer
menuentry       = user,web_user_os
menuentry       = user,web_user_host
menuentry       = user,web_user_useragent
menuentry       = user,web_user_bookmarks
menuentry       = user,web_user_countries
menuentry       = user,web_user_view_duration
menuentry       = visits,web_visit_entry_pages
menuentry       = visits,web_visit_exit_pages
menuentry       = visits,web_visit_path
menuentry       = visits,web_visit_path_length
menuentry       = visits,web_visit_duration
menuentry       = robots,web_robot_indexed_pages
menuentry       = robots,web_robot_names
menuentry       = robots,web_robot_searchengine
menuentry       = robots,web_robot_seachstrings
menuentry       = server,web_server_broken_links
menuentry       = server,web_server_internal_errors
menuentry       = server,web_server_vhosts
report  = web_request_url
report  = web_request_protocol
report  = web_request_method
report  = web_request_status
report  = web_request_extensions
report  = web_user_referer
report  = web_user_os
report  = web_user_host
report  = web_user_useragent
report  = web_user_bookmarks
report  = web_user_countries
report  = web_user_view_duration
report  = web_visit_entry_pages
report  = web_visit_exit_pages
report  = web_visit_path
report  = web_visit_path_length
report  = web_visit_duration
report  = web_robot_indexed_pages
report  = web_robot_names
report  = web_robot_searchengine
report  = web_robot_seachstrings
report  = web_server_broken_links
report  = web_server_internal_errors
report  = web_server_vhosts
report  = web_generic_summary
report  = web_generic_hourly
report  = web_generic_daily
template_name   = modern
template_path   = /hsphere/shared/share/themes/
hostname        = ${hosting.parent.name}
#$splitby
#variable        = HOSTNAME,$splitby
outputdir       = $outputdir

[output_template_basic]
filename_pattern = mla-{NAME}-{DATE}.html
index_filename = index.html
assumedprotocol = http
menuentry       = start, req
menuentry       = start, user
menuentry       = start, visits
menuentry       = start, robots
menuentry       = start, server
menuentry       = start,web_generic_summary
menuentry       = start,web_generic_hourly
menuentry       = start,web_generic_daily
menutitle       = start, Hier gehts los
menutitle       = req, Request
menutitle       = user, Users
menutitle       = robots, Robots
menutitle       = server, Server
menutitle       = visits, Visits
menuentry       = req,web_request_url
menuentry       = req,web_request_protocol
menuentry       = req,web_request_method
menuentry       = req,web_request_status
menuentry       = req,web_request_extensions
menuentry       = user,web_user_referer
menuentry       = user,web_user_os
menuentry       = user,web_user_host
menuentry       = user,web_user_useragent
menuentry       = user,web_user_bookmarks
menuentry       = user,web_user_countries
menuentry       = user,web_user_view_duration
menuentry       = visits,web_visit_entry_pages
menuentry       = visits,web_visit_exit_pages
menuentry       = visits,web_visit_path
menuentry       = visits,web_visit_path_length
menuentry       = visits,web_visit_duration
menuentry       = robots,web_robot_indexed_pages
menuentry       = robots,web_robot_names
menuentry       = robots,web_robot_searchengine
menuentry       = robots,web_robot_seachstrings
menuentry       = server,web_server_broken_links
menuentry       = server,web_server_internal_errors
menuentry       = server,web_server_vhosts
report  = web_request_url
report  = web_request_protocol
report  = web_request_method
report  = web_request_status
report  = web_request_extensions
report  = web_user_referer
report  = web_user_os
report  = web_user_host
report  = web_user_useragent
report  = web_user_bookmarks
report  = web_user_countries
report  = web_user_view_duration
report  = web_visit_entry_pages
report  = web_visit_exit_pages
report  = web_visit_path
report  = web_visit_path_length
report  = web_visit_duration
report  = web_robot_indexed_pages
report  = web_robot_names
report  = web_robot_searchengine
report  = web_robot_seachstrings
report  = web_server_broken_links
report  = web_server_internal_errors
report  = web_server_vhosts
report  = web_generic_summary
report  = web_generic_hourly
report  = web_generic_daily
template_name   = basic
template_path   = /hsphere/shared/share/themes/
hostname        = ${hosting.parent.name}
#$splitby
#variable        = HOSTNAME,$splitby
outputdir       = $outputdir

[input_clf]
#matchos="^Win"
#matchos="^Linux"
#matchos="^FreeBSD"
#matchos="^Macintosh"
#matchos="^PPC"
#matchos="^AIX"
#matchos="^IRIX"
#matchos="^SunOS"
#matchos="^OSF1"
#matchos="^OpenBSD"
#matchos="^Mac_PowerPC"
#matchos="^Solaris"
#matchos="^OS/2"
#matchos="^HP-UX"
#matchos="^NetBSD"
#matchos="^BSD/OS"
#matchos="^RISC OS"
#matchua="^iCab"
#matchua="^MSIE"
#matchua="^StarOffice"
#matchua="^Lotus-Notes"
#matchua="^BorderManager"
#matchua="^Powermarks"
#matchua="^NetMind-Minder"
#matchua="^WebCapture"
#matchua="^Squid"
#matchua="^Mozilla"
#matchua="^Konqueror"
#matchua="^Oregano"
#matchua="^X11"
inputfile       = -
#readaheadlimit  = 2




















# most of comments were stripped, look at sample modlogan.config for info
#<assign hosting=modlogan.parent.parent>

# global section
#[global]
# input plugin (wuftpd, clf, null, msiis, hicom116, isdnlog, elmeg)
#inputplugin=clf

# output plugin (modlogan, csv, webalizer, text, tkcontrol)
#outputplugin=modlogan

# processor plugin (web,telecom)
#processorplugin=web

# used output language (default: == env LC_ALL) [not used yet]
#language=

# where to put the generated files
##
#outputdir=${hosting.path}${modlogan.mod_dir}

#incremental=1

#debug_level=0

#[processor_web]
# path to the searchengines description file
# searchengines=modlogan.searchenginesa  # FIXME - include this in future

#visit_timeout=1800

#debug_searchengines=0

#debug_visits=0

# hide an url
## the following URL are hidden (images)
#hideurl="\.gif$"
#hideurl="\.png$"
#hideurl="\.GIF$"
#hideurl="\.PNG$"
#hideurl="\.jpg$"
#hideurl="\.JPG$"

# hide a refferer
## the referrer stats should only contain the external referrer. 
## you probably want to put your own url here:
#hidereferrer="^${hosting.parent.name}"

# group the referrers
#groupreferrer="^-$","(Direct Access)"

# group broken links
## by default the various favicon should be grouped. if you want to know 
#groupbrokenlinks="favicon\.ico$",Bookmarking Icons for MSIE 5.0

#groupos="Windows 98$",Windows 98
#groupos="Windows 95$",Windows 95
#groupos="Windows NT",Windows NT
#groupos="WinNT$",Windows NT
#groupos="Win98$",Windows 98
#groupos="Win95$",Windows 95
#groupos="^Linux 2\.4\.",Linux 2.4.x
#groupos="^Linux 2\.3\.",Linux 2.3.x
#groupos="^Linux 2\.2\.",Linux 2.2.x
#groupos="^Linux 2\.1\.",Linux 2.1.x
#groupos="^Linux 2\.0\.",Linux 2.0.x
#groupos="^FreeBSD 2\.",FreeBSD 2.x
#groupos="^FreeBSD 3\.",FreeBSD 3.x
#groupos="^FreeBSD 4\.",FreeBSD 4.x
#groupos="^SunOS 5\.5",SunOS 5.5.x
#groupos="^SunOS 5\.6",SunOS 5.6.x
#groupos="^SunOS 5\.7",SunOS 5.7.x
#groupos="^SunOS 5\.8",SunOS 5.8.x
#groupos="^HP-UX B\.10\.",HP-UX B.10.x
#groupos="^HP-UX B\.11\.",HP-UX B.11.x
#groupos="^NetBSD 1\.4\.",NetBSD 1.4.x

#groupua="^MSIE 5\.5",Internet Explorer 5.5x
#groupua="^MSIE 5\.",Internet Explorer 5.x
#groupua="^MSIE 4\.",Internet Explorer 4.x
#groupua="^MSIE 3\.",Internet Explorer 3.x
#groupua="^MSIE 2\.",Internet Explorer 2.x
#groupua="^Mozilla/2\.",Netscape 2.x
#groupua="^Mozilla/3\.",Netscape 3.x
#groupua="^Mozilla/4\.7",Netscape 4.7x
#groupua="^Mozilla/4\.",Netscape 4.x
#groupua="^Mozilla/5\.",Netscape 5.x
#groupua="^Netscape/4\.",Netscape 4.x
#groupua="^Konqueror/1\.",Konqueror 1.x
#groupua="^Lynx/2\.8\.",Lynx 2.8.x

# url that should be counted as pages
## pages that end with a '/' are index-pages
#pagetype="/$"
## default page names
#pagetype="\.html$"
#pagetype="\.htm$"
#pagetype="\.php3$"
#pagetype="\.asp$"
#pagetype="\.shtml$"
#pagetype="\.php$"

# output modules (modlogan)
#[output_modlogan]

# hostname (default: localhost)
#hostname=${hosting.parent.name}

# number of lines per report
#   0 - disabled
#  >0 - number of lines per report
#maxrequrls	= 30
#maxrefurls	= 30
#maxos		= 50
#maxhosts	= 30
#maxentrypages	= 10
#maxexitpages	= 10
#maxindexedpages	= 20
#maxua		= 30
#maxreqprot	= 10
#maxreqmeth	= 10
#maxstatuscodes	= 10
#maxrobots	= 20
#maxbookmarks	= 20
#maxbrokenlinks	= 20
#maxsearchengines= 20
#maxsearchstrings= 30
#maxinteralerrors= 20
#maxcountries	= 20

# colors
# the notation is #RRGGBB (HTML-color-tripple)

#background	= #c0c0c0
#shadow		= #808080
#pages		= #00c0ff
#files		= #0080ff
#visits		= #ffff00
#xfer		= #ff0000
#hosts		= #ff8000
#hits		= #00C030
#grouping	= #D0D0E0
#body		= #FFFFFF

# the different colors of the country pie
#country_circle	= #0000FF
#country_circle	= #00FFFF
#country_circle	= #FF00FF
#country_circle	= #FFFFFF
#country_circle	= #80FF00
#country_circle	= #FFFF00
#country_circle	= #FF0000
#country_circle	= #8080FF

# pagestyle
## the modlogan output plugin supports different output styles
## - seppage
## - onepage
## - (a mixture of both)
#pagestyle	= seppage

#showdailygraph	= 1
#showmonthlygraph= 1
#showhourlygraph = 1
#showcountrygraph= 1

#showvalidationlinks = 1

#assumedprotocol = http

# input modules (clf)
#[input_clf]
# filename of the input file
## '-' for stdin or a uncompressed logfile
#inputfile=-

#readaheadlimit=2

# these strings are used to detect the operating system in the useragent
# string
#matchos="^Win"
#matchos="^Linux"
#matchos="^FreeBSD"
#matchos="^Macintosh"
#matchos="^PPC"
#matchos="^AIX"
#matchos="^IRIX"
#matchos="^SunOS"
#matchos="^OSF1"
#matchos="^OpenBSD"
#matchos="^Mac_PowerPC"
#matchos="^Solaris"
#matchos="^OS/2"
#matchos="^HP-UX"
#matchos="^NetBSD"
#matchos="^BSD/OS"

# these strings are used to detect the requerying useragent in the useragent
# string
#matchua="^iCab"
#matchua="^MSIE"
#matchua="^StarOffice"
#matchua="^Lotus-Notes"
#matchua="^BorderManager"
#matchua="^Powermarks"
#matchua="^NetMind-Minder"
#matchua="^WebCapture"
#matchua="^Squid"
#matchua="^Mozilla"
#matchua="^Konqueror"

