<Logfile Name="${domain}">
   ct_name=${domain}
   cr_type=${type}
   ct_loglocation=${loglocation}
   cr_protocol=http
   ct_server=${server}
   ct_port=80
<if platform=="unix">
   ct_remotelocation=cgi-bin/print-log.pl?${user}&${real_name}&${key}&.gz
   cs_logformat=ncsa
<else>
   ct_remotelocation=urchin/urchin.exe?${user}&${real_name}&${key}&.gz
   cs_logformat=w3c
</if>
   ct_affiliation=(NONE)
</Logfile>

<Profile Name="${domain}">
   ct_name=${domain}
   ct_website=http://${domain}
   ct_reportdomains=${domain},www.${domain}
   cs_llist="${domain}"
   ct_affiliation=(NONE)
</Profile>

<Task Name="${domain}">
   ct_name=${domain}
   cr_frequency=5
   cs_hour=${hour}
   cs_minute=${minute}
   ct_affiliation=(NONE)
</Task>

<User Name="${login}">
   ct_password=${password}
   cs_rlist=${rlist}
   ct_name=${login}
   ct_affiliation=(NONE)
</User>
