<list maildomain.getMailDomainObjects(mailobject, except_id) as obj>
<if obj.name == "discard">
| > /dev/null
</if>
<if obj.name == "forwards">
${obj.maildir}
${obj.email_foreign}
</if>
<if obj.name == "alias">
${obj.maildir}
</if>
<if obj.name == "autoresponder">
${obj.maildir}
${obj.email_foreign}
${obj.command}
</if>
</list>
