<IfDefine SSL>

Listen ${res_ssl.port}

<VirtualHost ${res_ssl.ip}:${res_ssl.port}>

ServerName ${res_ssl.server_alias}
ServerAdmin root@${res_ssl.server_alias}
ErrorLog /hsphere/local/home/cpanel/apache/logs/error_log
TransferLog /hsphere/local/home/cpanel/apache/logs/access_log

SSLEngine on
SSLCipherSuite ALL:!ADH:!EXP56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP:+eNULL
SSLCertificateFile ${res_ssl.crt_path}
SSLCertificateKeyFile ${res_ssl.key_path}

<if res_ssl.chain=="1">
SSLCertificateChainFile ${res_ssl.getConfigPath()}/ca.crt
</if>
<if res_ssl.cert=="1">
SSLCACertificatePath ${res_ssl.getConfigPath()}
SSLCACertificateFile ${res_ssl.getConfigPath()}/ca-bundle.crt
</if>
<if res_ssl.rev=="1">
SSLCARevocationPath ${res_ssl.getConfigPath()}
SSLCARevocationFile ${res_ssl.getConfigPath()}/ca-bundle.crl
</if>

<Files ~ "\.(cgi|shtml|phtml|php3?)$">
    SSLOptions +StdEnvVars
</Files>
<Directory "/hsphere/local/home/cpanel/apache/cgi-bin">
    SSLOptions +StdEnvVars
</Directory>

SetEnvIf User-Agent ".*MSIE.*" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0

CustomLog /hsphere/local/home/cpanel/apache/logs/ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

## SiteStudio aliases
Alias /masonry/ /hsphere/shared/SiteStudio/public_html/masonry/
Alias /counter/ /hsphere/shared/SiteStudio/public_html/counter/
Alias /poll/ /hsphere/shared/SiteStudio/public_html/poll/
Alias /guestbook/ /hsphere/shared/SiteStudio/public_html/guestbook/

</VirtualHost>

</IfDefine>
