<if !hosting.suspended>
<compress>
<if account.isAllowChildMod && !hosting.parent.deleting>
<if account.plan.isResourceAvailable("rlimitcpu")><if !hosting.getChild("rlimitcpu")> <assign res=hosting.addChild("rlimitcpu","","")></if><else><assign res=hosting.findChild("rlimitcpu").delete></if>
<if account.plan.isResourceAvailable("rlimitmem")><if !hosting.getChild("rlimitmem")><assign res=hosting.addChild("rlimitmem","","")></if><else><assign res = hosting.findChild("rlimitmem").delete></if>
<if account.plan.isResourceAvailable("rlimitnproc")><if !hosting.getChild("rlimitnproc")><assign res=hosting.addChild("rlimitnproc","","")></if><else><assign res=hosting.findChild("rlimitnproc").delete></if>
</if>
</compress>
ip_name ${hosting.parent.name}
bindaddr        ${hosting.ip}
<if !ssl>bindport        80
port 80
<else>bindport        443
port 443
</if>
aliases <list hosting.getChildren("vhost_alias") as alias>${alias.config}.${hosting.parent.name} </list><assign acc_alias = hosting.getChild("idomain_alias")><if acc_alias> ${acc_alias.config}</if><list hosting.parent.getChildren("domain_alias") as dalias> ${dalias.alias} www.${dalias.alias}</list><if hosting.parent.getChild("ip").shared!="1"> ${hosting.ip}</if>
webmaster  ${hosting.getServerAdmin()}
docroot ${hosting.path}
comment Powered%20by%20Zeus
dnslookup       no
env!inherited!PATH
env!inherited!TZ

modules!cgi!enabled	<if hosting.getChild("cgi") || hosting.getChild("cgidir")>yes<else>no</if>
modules!cgi!uid	${hosting.recursive("login")}
modules!cgi!gid	${hosting.recursive("group")}
modules!cgi!priority 0
modules!map!enabled     yes
modules!dirlist!enabled    <if hosting.index!="0">yes<else>no</if>
modules!negotiate!enabled  <if hosting.multiview=="1">yes<else>no</if>
modules!cgi!allowcmd       <if hosting.getChild("cgi")>yes<else>no</if>
modules!cgi!autoid      0
modules!cgi!chroot      no
modules!cgi!limitcgi    0
modules!cgi!limitsubserver      no
modules!cgi!ulimitas    0
modules!cgi!ulimitcpu   0
modules!cgi!ulimitdata  0
modules!cgi!ulimitnproc 0
modules!cgi!ulimittime  0
modules!map!homedir!enable      no
modules!distributed!enabled     no
modules!access!enabled  no
modules!access!ldap!enabled     no
modules!dynamicvs!enabled       no
modules!gateway!enabled no
modules!get!enabled     yes
modules!htaccess!accessfilename .htaccess
modules!htaccess!enabled        no
modules!imagemap!enabled        <if hosting.getChild("ismap")>yes<else>no</if>
modules!index!enabled   yes
<if !hosting.getChild("directory_ind")>modules!index!files     index.html, index.htm, index.shtml, index.cgi</if>
modules!isapi!enabled   no
modules!jserv!enabled   no
modules!log!enabled     no
modules!log!format      %h %l %u %t "%r" %s %b
modules!map!alias_types!cgi     application/x-httpd-cgi
modules!map!alias_types!fastcgi application/x-httpd-fcgi
modules!map!alias_types!isapi   application/x-httpd-isapi
modules!map!alias_types!simple  application/x-httpd-alias
modules!mime!default    text/plain
modules!mime!enabled    yes
modules!mime!types!Z    application/octet-stream
modules!mime!types!api  application/x-httpd-isapi
modules!mime!types!asis httpd/send-as-is
modules!mime!types!cgi  application/x-httpd-cgi
modules!mime!types!exe  application/octet-stream
modules!mime!types!fcgi application/x-httpd-fcgi
modules!mime!types!gif  image/gif
modules!mime!types!gz   application/octet-stream
modules!mime!types!htm  text/html
modules!mime!types!html text/html
modules!mime!types!jpeg image/jpeg
modules!mime!types!jpg  image/jpeg
modules!mime!types!js   application/x-javascript
modules!mime!types!mov  video/quicktime
modules!mime!types!mpeg video/mpeg
modules!mime!types!pdf  application/pdf
modules!mime!types!png  image/png
modules!mime!types!ps   application/postscript
modules!mime!types!swf  application/x-shockwave-flash
modules!mime!types!tar  application/octet-stream
modules!mime!types!tgz  application/octet-stream
modules!mime!types!txt  text/plain
modules!mime!types!vrml x-world/x-vrml
modules!mime!types!wbmp image/vnd.wap.wbmp
modules!mime!types!wml  text/vnd.wap.wml
modules!mime!types!wmlc application/vnd.wap.wmlc
modules!mime!types!wmls text/vnd.wap.wmlscript
modules!mime!types!wmlsc        application/vnd.wap.wmlscriptc
modules!mime!types!wrl  x-world/x-vrml
modules!mime!types!xml  text/xml
modules!nsapi!enabled   no
modules!put!enabled     no 
modules!referrer!allowmissingreferrer   yes
modules!referrer!enabled        no
modules!rewrite!debug   no
modules!rewrite!debugrun        no
modules!rewrite!enabled no
modules!subserver!enabled       no
modules!throttle!enabled        no


<list hosting.getChildren() as child><if (child.type != "vhost_alias") && (child.type != "idomain_alias") && !child.deleting>${child.config}</if></list>

<if ssl>
security!enabled        yes
security!client_cert    0
security!private_key	${ssl.getConfigPath()}/server.key
security!public_key	${ssl.getConfigPath()}/server.crt
<if ssl.chain=="1">
SSLCertificateChainFile ${ssl.getConfigPath()}/ca.crt
</if>
<if ssl.cert=="1">
SSLCACertificatePath ${ssl.getConfigPath()}
SSLCACertificateFile ${ssl.getConfigPath()}/ca-bundle.crt
</if>
<if ssl.rev=="1">
SSLCARevocationPath ${ssl.getConfigPath()}
SSLCARevocationFile ${ssl.getConfigPath()}/ca-bundle.crl
</if>
</if>
<else>

bindaddr ${hosting.getIP()}
bindport        80
ip_name ${hosting.parent.name}
webmaster  ${hosting.getServerAdmin()}
docroot /hsphere/shared/skel/suspended
comment Powered%20by%20Zeus
dnslookup       no
env!inherited!PATH
env!inherited!TZ
aliases <list hosting.getChildren("vhost_alias") as alias>${alias.config}.${hosting.parent.name} </list><assign acc_alias = hosting.getChild("idomain_alias")><if acc_alias> ${acc_alias.config}</if><list hosting.parent.getChildren("domain_alias") as dalias> ${dalias.alias} www.${dalias.alias}</list><if hosting.parent.getChild("ip").shared!="1"> ${hosting.ip}</if>
 
# ErrorDocument 404 /
</if>
