Target[${target}]: <if config.REVERSE_DEDICATED_SERVER_TRAFFIC != "TRUE">-</if>${port}:${com_name}@${device}:
SetEnv[${target}]: MRTG_INT_IP="" MRTG_INT_DESCR=""
MaxBytes[${target}]: 1250000<if "">Should be defined more precisely in future versions</if>
Title[${target}]: Traffic Analysis for <if description>${description}<else>${target}</if>
