<VirtualHost ${ftp.ip}>
        User ${ftp.userName}
        Group ${ftp.userGroup}

        DisplayLogin               ${ftp.homeDir}/.ftp/welcome.msg
        DisplayFirstChdir          README
        DisplayConnect             ${ftp.homeDir}/.ftp/connect.msg

        ServerAdmin             "${ftp.serverAdmin}"
        ServerName              "${ftp.serverName}"
        MaxLoginAttempts        2
        MaxClients              50

        DefaultRoot                     ~

        TransferLog             /hsphere/local/var/proftpd/${ftp.ip}.ftp.log

        AuthUserFile            /hsphere/local/config/ftpd/sites/${ftp.id.id}.passwd


<Directory ${ftp.homeDir}/${directory.name}>

       	<limit READ>
		Denyall
		AllowUser ${ftp.userName}
	</limit>	
       	<limit WRITE>
		Denyall
		AllowUser ${ftp.userName}
	</limit>	
</Directory>
<list ftp.getChildren("ftp_vhost_directory") as directory>
<Directory ${ftp.homeDir}/${directory.name}>
<compress>
<function show_perm(dir_flag)>
<if directory.forAll == "0">		DenyAll
<if dir_flag == "1"><list directory.userList() as user>		AllowUser ${user.vlogin}
</list> </if>
<else>	<if dir_flag == "1">		AllowAll <else>		DenyAll </if></if>
</function></compress>

       	<limit READ>
	        <call show_perm(directory.r)>
        </limit>

       	<limit WRITE>
	        <call show_perm(directory.w)>
        </limit>

       	<limit DIRS>
	        <call show_perm(directory.l)>
        </limit>
</Directory>
</list>

<assign anonymous = ftp.getChild("ftp_vhost_anonymous")>
<if anonymous && ! anonymous.deleting>
<Anonymous ${ftp.homeDir}/${ftp.id.id}>
        User anonymous

        DirFakeGroup on ftp
        DirFakeUser on ftp
        DirFakeMode  644

        MaxClients              20

	<Directory *>
	<Limit WRITE>
		DenyAll
	</Limit>
	</Directory>

	<if anonymous.allowIncoming == "1">
        <Directory incoming/*>
	<Limit STOR>
		AllowAll
	</Limit>
	<Limit WRITE DIRS READ>
		DenyAll
	</Limit>
	<Limit CWD XCWD CDUP>
		AllowAll
	</Limit>
	</Directory>
	</if>
</Anonymous></if>

</VirtualHost>
